<IfModule mod_expires.c>
    ExpiresActive On
    
    # Images : Cache pendant 1 an (ultra rapide)
    ExpiresByType image/jpg "access plus 1 year"
    ExpiresByType image/jpeg "access plus 1 year"
    ExpiresByType image/gif "access plus 1 year"
    ExpiresByType image/png "access plus 1 year"
    ExpiresByType image/webp "access plus 1 year"
    ExpiresByType image/svg+xml "access plus 1 year"
    
    # Polices : Cache 1 an
    ExpiresByType font/ttf "access plus 1 year"
    
    # CSS/JS : Cache 1 mois
    ExpiresByType text/css "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 month"
</IfModule>